.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
.vs/FutureKawa.slnx/FileContentIndex/d7100151-8da2-4a5a-b082-b8c7ff2bd79f.vsidx
.vs/FutureKawa.slnx/v18/.wsuo
.vs/FutureKawa.slnx/v18/DocumentLayout.json
